@model Domain.App.ServiceInGasStation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ServiceInGasStation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime!)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime!)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime!)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime!)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GasStation!)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GasStation!.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Service!)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Service!.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
